apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
    tier: front-end
spec:
  containers:
    - name: nginx-container
      image: nginx
      resources:
        limits:
          cpu: "1"
          memory: "512Mi"
      imagePullPolicy: Always
      ports:
        - containerPort: 80
          protocol: TCP
